*{
	font-family: 'Comfortaa', cursive;
}
html, body{
	background: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	}
#container{
	margin: 0px;
	padding:0px;
	width: 100%;
	height: 100%;
	}
#main-text{
	display: table-cell;
    vertical-align: middle;
	color: #cb356b;
	}

#main-container{
	margin:0px;
	width:100%;
	height: 60%;
	display: table;
	background: url('repeat_bg.png');
	background-repeat: repeat;
}
	
#secondary-container{
	margin: 0px;
	padding-left: 30px;
	padding-top: 25px;
	background: #fff;
	width: 100%;
	padding-bottom: 20px;
	}
#heading-2{
	display: inline-block;
  	position: relative;
	margin-bottom: 10px;
	color: #303030;
	}

#heading-2:after {
  position: absolute;
  content: '';
  border-bottom: solid 1px #ccc;
  left: 15px;
  right: 15px;
}

#heading-3{
	border-bottom: solid 1px #ccc;
	color: #4d4d4d;
	margin-bottom: 15px;
	}	
#round-image{
	margin-top: 20px;
	float: center;
	height: 150px;
	width: 150px;
	margin-left: 30%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: default;
	box-shadow: 
		inset 0 0 0 2px rgba(203,5,45,0.6),
		0 1px 1px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

#round-image:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-info {
	position: absolute;
	background: rgba(203,5,45, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
#round-image:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-info h5 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
#text{
	padding-top: 25px;
	font: arial 20px;
	}