body{
	background: #fff;
	padding: 0px;
	}
#container{
	margin: 0px;
	padding:0px;
	width: 100%;
	}
#main-text{
	margin-top: 25%;
	margin-left: 0%;
	}

#main-container{
	margin:0px;
	width:100%;
	}

#main-container-overlay{
	margin:0px;
	height: 100%;
	width:100%;
	z-index: 10;
	background: #cb356b; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #cb356b, #bd3f32); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
#secondary-container{
	margin: 0px;
	padding-top: 25px;
	background: #fff;
	width: 100%;
	padding-bottom: 20px;
	}
#heading-2{
	padding-left: 30px;
	border-bottom: solid 2px #ccc;
	margin-bottom: 10px;
	}
#heading-3{
	padding: 15px;
	border-bottom: solid 1px #ccc;
	color: #4d4d4d;
	margin-bottom: 15px;
	}	
#round-image{
	margin-top: 20px;
	float: center;
	background: url(emilia.jpg);
	height: 150px;
	width: 150px;
	margin-left: 30%;
	border-radius: 75px;
	}
#text{
	padding-top: 25px;
	font: arial 20px;
	}