*{
	font-family: 'Comfortaa', cursive;
}
html, body{
	background: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	}
#container{
	margin: 0px;
	padding:0px;
	width: 100%;
	height: 100%;
	}
#main-text{
	display: table-cell;
    vertical-align: middle;
	color: #cb356b;
	}

#main-container{
	margin:0px;
	width:100%;
	height: 60%;
	display: table;
	background: url('repeat_bg.png');
	background-repeat: repeat;
}
	
#secondary-container{
	margin: 0px;
	padding-left: 30px;
	padding-top: 25px;
	background: #fff;
	width: 100%;
	padding-bottom: 20px;
	}
#heading-2{
	display: inline-block;
  	position: relative;
	margin-bottom: 10px;
	color: #303030;
	}

#heading-2:after {
  position: absolute;
  content: '';
  border-bottom: solid 1px #ccc;
  left: 15px;
  right: 15px;
}

#heading-3{
	border-bottom: solid 1px #ccc;
	color: #4d4d4d;
	margin-bottom: 15px;
	}	
#round-image{
	margin-top: 20px;
	float: center;
	background: url(aman.png);
	height: 150px;
	width: 150px;
	margin-left: 30%;
	border-radius: 75px;
	}
#text{
	padding-top: 25px;
	font: arial 20px;
	}